/* ================= CHAT CONTAINER ================= */

.chat-container{

    width:100%;
    min-height:calc(100vh - 65px);
    background:#eef3f8;
    padding:25px;
    border-radius:20px;
}

/* ================= WRAPPER ================= */

.chat-wrapper{

    width:100%;

    max-width:1200px;

    height:calc(100vh - 125px);

    margin:0 auto;

    padding:25px;

    display:flex;

    flex-direction:column;

    background:linear-gradient(180deg,#ffffff 0%,#f8fbff 100%);

    border-radius:22px;

    border:1px solid #dbeafe;

    box-shadow:
    0 15px 40px rgba(37,99,235,.08);

}

/* ================= HEADER ================= */

.chat-header{

    margin-bottom:20px;

}

.chat-header h2{

    font-size:34px;

    color:#1f2937;

    margin-bottom:8px;

}

.chat-header i{

    color:#2563eb;

}

.chat-header p{

    color:#6b7280;

    font-size:16px;

}

/* ================= CHAT BOX ================= */

.chat-box{
    flex:1;
    overflow-y:auto;
    overflow-x:hidden;

    display:flex;
    flex-direction:column;

    gap:15px;

    padding:25px;
}

/* ================= SCROLLBAR ================= */

.chat-box::-webkit-scrollbar{

    width:8px;

}

.chat-box::-webkit-scrollbar-thumb{

    background:#cbd5e1;

    border-radius:20px;

}

/* ================= MESSAGE ================= */

.bot-message{

    align-self:flex-start;

    background:#eef4ff;

    color:#111827;

    padding:14px 20px;

    border-radius:18px;

    max-width:70%;

    width:fit-content;

    margin-top:10px;

    word-break:break-word;
}

.user-message{

    align-self:flex-end;

    background:#2563eb;

    color:#fff;

    padding:14px 20px;

    border-radius:18px;

    max-width:70%;

    width:fit-content;

    margin-top:10px;

    word-break:break-word;
}

/* ================= INPUT ================= */

.chat-input{

    margin-top:20px;

    display:flex;

    gap:15px;

}

.chat-input input{

    flex:1;

    height:58px;

    border:1px solid #d1d5db;

    border-radius:40px;

    padding:0 25px;

    font-size:16px;

    outline:none;

    transition:.3s;

}

.chat-input input:focus{

    border-color:#2563eb;

    box-shadow:0 0 0 4px rgba(37,99,235,.15);

}

.chat-input button{

    width:60px;

    height:60px;

    border:none;

    border-radius:50%;

    background:#2563eb;

    color:white;

    cursor:pointer;

    font-size:20px;

    transition:.3s;

}

.chat-input button:hover{

    background:#1d4ed8;

    transform:scale(1.05);

}
