/* ============ Main Content ============ */
.main{
    flex:1;
    margin-left:280px;
    margin-top:65px;
    width:calc(100% - 280px);
    min-height:calc(100vh - 65px);
    padding:35px;
    box-sizing:border-box;
}

.main-content{
    flex:1;
    padding:35px;
    width:100%;
}

.main-content h1{
    color:#fff;
    font-size:38px;
    margin-bottom:10px;
}

.page-desc{
    color:#c8d2e3;
    margin-bottom:25px;
    font-size:17px;
}

/* ============ Password Card ============ */

.password-card{
    background:#fff;
    border-radius:16px;
    padding:30px;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
}

.password-card label{
    display:block;
    font-size:18px;
    font-weight:600;
    margin-bottom:12px;
}

.password-box{
    position:relative;
}

.password-box input{

    width:100%;
    height:55px;

    border:1px solid #ccc;
    border-radius:10px;

    padding:0 50px 0 15px;

    font-size:17px;
    outline:none;
}

.password-box input:focus{
    border:2px solid #27c4f5;
}

.password-box i{

    position:absolute;

    right:18px;
    top:50%;

    transform:translateY(-50%);

    cursor:pointer;
    color:#555;
}

/* ============ Buttons ============ */

.btn-group{

    display:flex;
    gap:15px;

    margin-top:25px;
}

.analyze-btn{

    background:#26c6f9;

    color:white;

    border:none;

    padding:13px 25px;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;
}

.clear-btn{

    background:#f0f0f0;

    border:none;

    padding:13px 25px;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;
}

.analyze-btn:hover{

    background:#00b9f2;
}

.clear-btn:hover{

    background:#ddd;
}

/* ============ Strength Card ============ */

.strength-card{

    margin-top:25px;

    background:#fff;

    border-radius:16px;

    padding:25px;

    box-shadow:0 8px 25px rgba(0,0,0,.15);
}

.strength-top{

    display:flex;

    justify-content:space-between;

    font-weight:bold;

    margin-bottom:15px;
}

.progress{

    width:100%;

    height:14px;

    background:#e5e5e5;

    border-radius:20px;

    overflow:hidden;
}

.progress-bar{

    height:100%;

    background:#2ecc71;

    transition:.4s;
}

.strength-card h3{

    margin-top:18px;

    color:#2ecc71;
}

/* ============ Breakdown ============ */

.breakdown-card{

    margin-top:25px;

    background:#fff;

    border-radius:16px;

    padding:25px;

    box-shadow:0 8px 25px rgba(0,0,0,.15);
}

.breakdown-card h2{

    margin-bottom:20px;
}

.check-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:15px;
}

.check-grid div{

    background:#f6f8fc;

    padding:15px;

    border-radius:10px;

    font-size:16px;
}